:root {
    /* ctp-base */
    --bg: #1e1e2e;
    --bg-rgb: 30, 30, 46;
    /* ctp-text */
    --fg: #cdd6f4;
    --fg-rgb: 205, 214, 244;
    /* ctp-blue */
    --accent: #89b4fa;
    --accent-rgb: 137, 180, 250;
    /* ctp-overlay-0 */
    --blank: #6c7086;
    --blank-rgb: 108, 112, 134;
    /* red-500 */
    --rank-1: #ef4444;
    /* green-500 */
    --rank-2: #22c55e;
    /* blue-500 */
    --rank-3: #3b82f6;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #eff1f5;
        --bg-rgb: 239, 241, 245;
        --fg: #4c4f69;
        --fg-rgb: 76, 79, 105;
        --accent: #1e66f5;
        --accent-rgb: 30, 102, 245;
        --blank: #6c7086;
        --blank-rgb: 156, 160, 176;
    }
}

html {
    color-scheme: dark light;
}

:root:has(#theme [value="LIGHT"]:checked) {
    color-scheme: light;
    --bg: #eff1f5;
    --bg-rgb: 239, 241, 245;
    --fg: #4c4f69;
    --fg-rgb: 76, 79, 105;
    --accent: #1e66f5;
    --accent-rgb: 30, 102, 245;
    --blank: #6c7086;
    --blank-rgb: 156, 160, 176;
}

:root:has(#theme [value="DARK"]:checked) {
    color-scheme: dark;
}

@font-face {
    font-family: Virgil;
    src: url(../fonts/Virgil.woff2);
}




html,
body {
    background: var(--bg);
    color: var(--fg);
    font-family: Virgil;
}

h1 {
    font-size: 5rem;
    padding: 2rem;
    text-shadow: black .25rem .25rem;
}

p {
    font-size: 1.5rem;
    padding: 0.25rem;
}
