<head th:fragment="head">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Pango.page</title>
    <link href="/images/favicon.ico" rel="icon" type="image/x-icon">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script defer src="/js/theme.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>